<div class="container">
    <div class="jumbotron">
        <h1>Welcome in</h1>
        <h2>Rental Car</h2>
    </div>
    <div class="grid grid-pad">
        <div class="row">
            <div class="col-12 col-md-6">
                <button routerLink="/login" class="col-md-8 button module">
                    <h4>LOGIN</h4>
                </button>
            </div>
            <div class="col-12 col-md-6">
                <button routerLink="/registra" class="col-md-8 button module">
                    <h4>REGISTRATI</h4>
                </button>
            </div>
        </div>
    </div>
</div>