[class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  [class*='col-']:last-of-type {
    padding-right: 0;
  }
  a {
    text-decoration: none;
  }
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  h1, h2 {
    text-align: center;
    margin-bottom: 0;
  }
  h4 {
    text-align: center;
  }
  .grid {
    margin: 0;
  }
  .col-md-6 {
    width: 50%;
  }

  button{
    width: 95%;
    padding: 20px;
    margin-right: initial;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: #0740fc;
    border-radius: 15px;
  }
  button:hover{
    background-color: rgb(245, 102, 7);
    cursor: pointer;
    color: #000000;
  }
  .grid-pad {
    padding: 10px 0;
  }
  .grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
  }
  @media (max-width: 600px) {
    .module {
      font-size: 10px;
      max-height: 75px; }
  }
  @media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .module {
      min-width: 60px;
    }
  }